body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
	width: 640px;
	margin: 32px auto;
	padding-left: 300px;
}

body#index-page {
	font-size: 16px;
}

h1 {
	font-size: 48px;
	margin-bottom: 0px;
	letter-spacing: -1px;
}

h4 {
	margin-left: 22px;
}

img {
	float: left;
	width: 256px;
	height: 256px;
	margin-left: -300px;
}

table {
	border-collapse: collapse;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 13px;
}

tbody {
	border-top: 1px solid rgb(211, 231, 228);
}

tr {
	border-bottom: 1px solid rgb(211, 231, 228);
}

th, td {
	padding: 5px 10px;
	text-align: left;
}

tr.even {
	background-color: rgb(237, 245, 250);
}

a {
	text-decoration: none;
}
